name: zaituun
description: "Join us and be part of the new revolution. Zaituun."

publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 0.0.1+20240505

environment:
  sdk: '>=3.3.3 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.6
  flutter_localizations:
    sdk: flutter
  go_router: ^14.0.2
  hooks_riverpod: ^2.5.1
  sprung: ^3.0.1
  flutter_screenutil: ^5.9.0
  gap: ^3.0.1
  flutter_animate: ^4.5.0
  flutter_hooks: ^0.20.5
  email_validator: ^2.1.17
  loading_animation_widget: ^1.2.1

  intl: any
  mastodon_oauth2: ^1.0.0
  mastodon_api: ^0.6.1
dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^3.0.0
  build_runner: ^2.4.9
  go_router_builder: ^2.6.1

flutter:
  uses-material-design: true
  # To add assets to your application, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware
  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages
  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
flutter_intl:
  enabled: true
  class_name: Lang
  main_locale: en
  arb_dir: lib/core/l10n
  output_dir: lib/core/l10n/generated
